* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin:0;
  padding:0;
  /* background-color: #f9f9f9; */
}

html {
  height: 100%;
  margin:0;
  padding:0;
}

.container {
  min-height: 100%;
}

footer {
  position: relative;
  /* width: 100%; */
  background-color: #212121;
  height: 150px;
  color: #FFFFFF;
  clear: both;
  /* margin-top: -150px; */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  left: 0px;
  bottom: 0px;
}

footer h3{
  color: #FFFFFF;
}

.central-800 {
  max-width: 800px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
}

h2 {
  font-family: 'Varela Round', sans-serif;
}

h5 {
  font-style: italic;
  font-family: 'Varela Round', sans-serif;
}

.byline {
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  font-size: 20px;
}

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Varela Round */

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Varela Round */

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.desktop-navbar {
  background-color: #212121!important;
  color: #212121;
  z-index: 1000;
}

.uk-navbar{color:#fff;background:#212121; border-bottom:1px solid #212121; border-top: 1px solid #212121;}
.uk-navbar .uk-navbar-nav a{color:#999; border-bottom:1px solid #212121;}
.uk-navbar .uk-navbar-nav li {color: #212121; border-bottom:1px solid #212121;}
.uk-navbar .uk-navbar-nav li.uk-active a{background:#fff; font-weight: 700;}
.uk-navbar .uk-navbar-nav li:hover a{color:#fff;background:#424242;}

.mobile-navbar {
  background-color: #212121!important;
}

.mobile-nav-brand {
  color: #FFFFFF;
}

.mobile-section {
  color: #212121;
  font-weight: bold;
}

.xAxis_label, .yAxis_label {
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
}

.y-axis line {
  display: none;
}

.circle-y-axis line,
.circle-y-axis path {
  display: none
}

svg {
  display: inline-block;
  margin: auto 0;
  text-align: center;
}

/* BN's seats colour */

.bn {
  fill: #092781;
}

.bn-text {
  font-weight: bolder;
  background-color: #092781;
  color: #FFFFFF;
}

/* PH's seats colour */

.ph {
  fill: #ED1C24;
}

.ph-text {
  font-weight: bolder;
  background-color: #ED1C24;
  color: #FFFFFF;
}

/* PAS' seats colour */

.pas {
  fill: #009000;
}

.pas-text {
  font-weight: bolder;
  background-color: #009000;
  color: #FFFFFF;
}

/* Independent candidates' seats colour */

.ind {
  fill: #FFA500;
}

.ind-text {
  font-weight: bolder;
  background-color: #FFA500;
  color: #FFFFFF;
}

/* Solidariti's seat colour */

.solidariti {
  fill: #78D7F5;
}

.solidariti-text {
  font-weight: bolder;
  background-color: #78D7F5;
  color: #FFFFFF;
}

/* choropleth colour scheme */

.q0-5 {
  fill: #f2f0f7;
}

.q1-5 {
  fill: #cbc9e2;
}

.q2-5 {
  fill: #9e9ac8;
}

.q3-5 {
  fill: #756bb1;
}

.q4-5 {
  fill: #54278f;
}

.bn-win-circle {
  fill: #092781;
  stroke: #000000;
  stroke-width: 1;
}

.ph-win-circle {
  fill: #ED1C24;
  stroke: #000000;
  stroke-width: 1;
}

.pas-win-circle {
  fill: #009000;
  stroke: #000000;
  stroke-width: 1 ;
}

.grid line {
  stroke: #D3D3D3;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.state {
  font-family: 'Varela Round', sans-serif;
}

.constituency {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
}

.winner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

.majority {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.credit, .losers {
  font-family: 'Open Sans', sans-serif;
}

.active {
  fill: #FFFF00;
}

.chart-wrapper {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -240px;
  /* z-index: 0; */
}

@media screen and (max-width: 500px) {
  .scroll-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 800px;
    z-index: 0;
    border: 1px solid #212121;
  }
  .constChart-text-wrapper {
    margin: 0 auto;
    padding-bottom: 1300px !important;
  }
  .xAxis_label {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
  }
  .yAxis_label {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 501px) {
  .scroll-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    background: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 800px;
    z-index: 0;
    border: 1px solid #212121;
  }
  .constChart-text-wrapper {
    margin: 0 auto;
    padding-bottom: 600px !important;
  }

  .xAxis_label {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
  }
  .yAxis_label {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
  }
}

.hide-map, .hide-circle {
  display: none !important;
}

div.map-tooltip {
  margin: auto;
  position: absolute;
  text-align: left;
  width: 175px;
  height: 110px;
  padding: 10px;
  font: 1em 'Open Sans', sans-serif;
  background: #3D3D3D;
  color: #FFFFFF;
  border: 1px solid #000000;
  pointer-events: none;
  z-index: 0;
}

div.chart-tooltip {
  margin: auto;
  position: absolute;
  text-align: left;
  width: 170px;
  height: 85px;
  padding: 5px;
  font: 1em 'Open Sans', sans-serif;
  background: #3D3D3D;
  color: #FFFFFF;
  border: 1px solid #000000;
  pointer-events: none;
  z-index: 0;
}

.legend {
  font-family: 'Open Sans', sans-serif;
}

.legend-container {
  fill: #FFFFFF;
  opacity: 0.9;
  stroke: #D3D3D3;
  stroke-width: 2;
}


#ge13-map, #ge14-map, #toggle {
  background: #212121;
  color: #FFFFFF;
}
