.central-960 {
  min-width: 960px;
}

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Varela Round */

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Varela Round */

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#east_map_2018 path {
  stroke: #FFFFFF;
}

#east_map_2013 path {
  stroke: #FFFFFF;
}

#west_map_malay path {
  stroke: #FFFFFF;
}

#west_map_party path {
  stroke: #FFFFFF;
}

.y-axis line {
  display: none;
}

svg {
  display: inline-block;
  margin: auto 0;
  text-align: center;
}

/* BN's seats colour */

.bn {
  fill: #092781;
}

/* PH's seats colour */

.ph {
  fill: #ED1C24;
}

/* PAS' seats colour */

.pas {
  fill: #009000;
}

/* Independent candidates' seats colour */

.ind {
  fill: #FFFF00;
}

/* Solidariti's seat colour */

.solidariti {
  fill: #78D7F5;
}

.q0-5 {
  fill: #f2f0f7;
}

.q1-5 {
  fill: #cbc9e2;
}

.q2-5 {
  fill: #9e9ac8;
}

.q3-5 {
  fill: #756bb1;
}

.q4-5 {
  fill: #54278f;
}

.state {
  font-family: 'Varela Round', sans-serif;
}

.constituency {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
}

.winner {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

.majority {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.credit, .losers {
  font-family: 'Open Sans', sans-sans-serif;
}

.active {
  fill: #FFA500;
}

.chart-wrapper {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -240px;
  /* z-index: 0; */
}

@media screen and (max-width: 500px) {
  .testing {
    background: #FFFF00;
    margin: 0 auto;
    margin-bottom: 1500px;
    z-index: 1;
  }
  .constChart-text-wrapper {
    margin: 0 auto;
    padding-bottom: 1700px !important;
    /* z-index: -1; */
  }
  .map-wrapper {
    margin: 0 auto;
    padding-bottom: 1000px !important;
    /* z-index: -1; */
  }
  .constChart-wrapper {
    z-index: 0;
  }
}

@media screen and (min-width: 501px) {
  .testing {
    background: #FFFF00;
    margin: 0 auto;
    margin-bottom: 1000px;
    z-index: 1;
  }
  .constChart-text-wrapper, .map-wrapper {
    margin: 0 auto;
    padding-bottom: 1500px !important;
    /* z-index: -1; */
  }
  .constChart-wrapper {
    z-index: 0;
  }
}

.hide-map {
  display: none !important;
}

div.chart-tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 90px;
  padding: 2px;
  font: 1em 'Open Sans', sans-serif;
  background: #FFFFFF;
  border: 1px solid #000000;
  /* border-radius: 8px; */
  pointer-events: none;
  z-index: 2;
}

.yAxis_label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.legend {
  font-family: 'Open Sans', sans-serif;
}

.legend-container {
  fill: #FFFFFF;
  opacity: 0.9;
  stroke: #D3D3D3;
  stroke-width: 2;
}

#malay, #party {
  background: #9e9ac8;
  color: #FFFFFF;
}
